/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.db
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
public/mix-manifest.json
public/css
public/js
crontab.conf
package-lock.json
composer.lock
/volumes
yarn.lock